@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Signika+Negative:wght@300..700&family=Workbench&display=swap");
.logo{
    width: 200px;
}
ul {
  color: black;
  text-decoration: none;
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-size: 23px;
  font-style: normal;
  text-align: center;
  clear: both;
  display: inline-block;
  white-space: nowrap;
}

.navfont {
  width: 310px;
  height: 60px;
}
/* @media (max-width: 500px){
  .navfont{
    padding-left: 4rem;
  }
} */